@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#262525;
    color:#fff;
}

.contact-section{
    min-height:100vh;
    padding:6rem 8%;
}

.contact-section h1{
    text-align:center;
    font-size:3.2rem;
    color:#5DB9EE;
}

.contact-sub{
    text-align:center;
    margin:1rem 0 4rem;
    opacity:.9;
}

/* Layout */
.contact-container{
    display:flex;
    gap:4rem;
    justify-content:space-between;
    flex-wrap:wrap;
}

/* Info */
.contact-info{
    max-width:400px;
}

.contact-info h2{
    color:#5DB9EE;
    margin-bottom:1.5rem;
}

.contact-info span{
    color:#5DB9EE;
    font-weight:500;
}

/* Form */
.contact-form{
    max-width:420px;
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1.2rem;
}

.contact-form input,
.contact-form textarea{
    padding:.9rem;
    border-radius:.4rem;
    border:none;
    outline:none;
}

.contact-form textarea{
    min-height:120px;
    resize:none;
}

.contact-form button{
    background:#5DB9EE;
    color:#262525;
    border:none;
    padding:.9rem;
    font-size:1rem;
    cursor:pointer;
    border-radius:.4rem;
    transition:.4s;
}

.contact-form button:hover{
    background:#3877FF;
}

/* Responsive */
@media(max-width:900px){
    .contact-container{
        flex-direction:column;
    }
}
